<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cracha_Virtual</title>
</head>
<body>
    <h1>Cracha Virtual</h1>
    <form action="/cadastro" method="post">
        <input type="text" name="name" placeholder="Nome"></input>
        <input type="text" name="lastname" placeholder="Nome"></input>
        <input type="text" name="adress" placeholder="Nome"></input>
        <input type="text" name="age" placeholder="age"></input>
        <input type="text" name="email" placeholder="Nome"></input>
        <input type="text" name="password" placeholder="pass"></input>
        <button type="submit"></button>
        
    </form> 
</body>
</html>