<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cracha_Virtual</title>
</head>
<body>
    <h1>Cracha Virtual</h1>
    <form action="/cadastro" method="post">
        <input type="text" name="name" id="name"placeholder="Nome"></input>
        <input type="text"name="lastname" id="lastname" placeholder="Sobrenome"></input>
        <input type="text" name="address"  id="address" placeholder="Endereço"></input>
        <input type="text" name="age" placeholder="Idade"></input>
        <input type="text" name="email" placeholder="Email"></input>
        <input type="text" name="password" placeholder="Senha"></input>
        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>