<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cracha_Virtual</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/user/login" method="post">
        <input type="text" name="email" placeholder="Email"></input>
        <input type="password" name="password" placeholder="Senha"></input>
        <button type="submit">Enviar</button>
        <a href="/cadastrar">Cadastra-se</a>
    </form>
    
</body>
</html>